@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url('/Fonts/IranSans/eot/IRANSansWeb(FaNum)_Light.eot');
    src: url('../Fonts/IranSans/eot/IRANSansWeb(FaNum)_Light.eot') format('embedded-opentype'), /* IE6-8 */
    url('../Fonts/IranSans/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../Fonts/IranSans/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../Fonts/IranSans/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}

@charset "utf-8";
/* CSS Document */
body {
    font-family: IRANSans;
}

/*@font-face {
    src: url(fonts/BYekan.ttf);
    font-family: BYekan;
}*/

.nv-top {
    margin-top: 10px;
}

@media screen and (max-width:760px) {
    #myNavbar {
        background: #FFFFFF;
    }

    .navbar-default a {
        color: #FFFFFF !important;
    }
}

.not {
}

.logo {
    width: 80px;
    height: 50px;
}

    .logo:hover {
        transform: rotate(360deg);
        transition: 1s;
        margin-left: 5px;
    }

.slide-h {
    height: 200px;
}

.btn-mid {
    margin-bottom: 20%;
}

.btn-slide {
}

.slides {
    position: relative;
    z-index: -1;
}

.carousel-caption {
    position: absolute !important;
    margin: auto !important;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
}

.col-sm-12 {
    padding: 0;
    z-index: 1;
}

.navbar-default {
    background: rgba(245,245,245,1.00);
    border-bottom: 0;
    font-size: 16px;
    height: 70px;
    box-shadow: 0px 0px 15px;
}

.navbar ul li a {
    color: #2E2E2D !important;
}

.navbar ul li:hover:not(.not) {
    background-color: #DFB72E;
    transition: 1s;
}

.br-yellow:focus {
    border: #FFE32A;
    transition: 1s;
}

.navbar ul {
    margin-top: 10px;
}

.activeli {
    border-radius: 25px;
    margin-right: 2px;
}

.slide-cr {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    border-color: rgba(200,189,30,1.00) !important;
    margin-right: 25px !important;
}

.text-warning {
    color: #DFB72E;
}

.text-white {
    color: #FFFFFF;
}

    .text-white:hover {
        color: #C4AA23;
    }

.search {
    border-radius: 15px;
}

    .search:focus {
        border: #DFB72E;
        border-radius: 0px;
        color: #DFB72E;
        box-shadow: 0px 0px 5px #DFB72E;
        transition: 1s;
    }

.search-mrg {
    margin-top: 5px;
}

.sabtnam {
    background: url(img/sabtnam.jpg) no-repeat;
    background-size: cover;
    blur: 10px;
}

.btn-dark {
    background: rgba(41,41,41,0.90);
    color: #FFFFFF;
    border-radius: 2px;
    transition: 0.5s all;
}

.btn-plus {
    background-color: #DFB72E;
    color: #FFFFFF;
    border-color: #ccc;
}

.d-border {
    border: 1px solid rgba(6,34,100,0.50);
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px;
}

.br-bt {
    border-bottom: 1px solid #000000;
}

.margin-t {
    margin-top: 40px;
}

.bg-dark {
    background: rgba(41,41,41,1.00);
    color: #FFFFFF;
    border-radius: 2px;
}

.bg-light {
    background: rgba(239,239,239,1.00);
}

.text-default {
    color: #FFFFFF;
}

.btn-warning {
    background: #DFB72E;
}

.Carousel-item {
    height: 100px;
}

.slick-prev {
    right: 0 !important;
    left: 0 !important;
    color: #000000 !important;
}

.slick-next {
    right: 0 !important;
}

.bg-warning {
    background: #DFB72E;
}

.bg-blue {
    background: #3E8FE5;
}

.fa-dark {
    color: #2E2D2D;
}

.fa-circle {
    color: rgba(0,0,0,1.00);
}

.col-sm-4 {
    text-align: center;
}

.well {
    height: 190px;
    margin-bottom: 0;
    border: 0px !important;
}

.h3 {
    margin-top: 0;
}

.card {
    margin-top: 15px;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px 0 #262523;
        transition: 0.5s all;
        border-radius: 10px;
    }

        .card:hover > img {
            opacity: 0.9;
            transition: 0.5s;
        }

.lastevent {
    animation-name: lastevent;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 5px;
    box-shadow: 0px 0px 5px;
}

    .lastevent:hover {
        color: #FFFFFF;
    }

.input-margin {
    margin-top: 15px;
}

.modal-backdrop {
    z-index: 0 !important;
}

.modal-width {
    width: 100% auto !important;
}

.about {
    background: url(img/Background.jpg);
    background-size: cover;
}

.f-bg {
    background: #1D1B1B;
    color: #FFFFFF;
}

.no-padd {
    padding: 0 !important
}

.nav-pills {
    padding-right: 0px;
}

    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        background-color: #f6cd3e;
        color: #1A1A1A;
    }

.nav-pills {
    background: #1D1D1D;
}

    .nav-pills > ul li {
        color: #f6cd3e
    }

.navbar-collapse {
    overflow: hidden;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background: #f6cd3e;
    color: #1D1D1D;
}

.bx-shadow {
    box-shadow: 0px 0px 10px;
    border-radius: 0px;
    height:1000px;
}

.khabarname input {
    border: 2px solid #f6cd3e;
}

    .khabarname input:focus {
        border: #B41215;
    }

.bg-setting {
    background: url(img/setting%20pic.png) no-repeat;
    width: 100px;
    height: auto;
}

.bg-profile {
    background: url(img/Keyboard-Wallpaper-053.jpg) no-repeat;
    width: 100%;
    height: 100%;
}

.bg-light {
    background: rgba(255,255,255,1.00);
}

.bg-contact {
    background: url(img/IGT_Digital_Fall15_Data_Main.jpg) no-repeat 100% 100%;
    background-size: cover;
}

.form-padding {
    padding: 30px;
    border-radius: 25px;
}

.br-blue {
    border: 1px solid #4F96D3;
}

.br-red {
    border: 1px solid #D73033;
    box-shadow: 0px 0px 0px;
}

.bg-newsletter {
    background: url(../images/news.jpg);
    background-size: cover;
    width: 100%;
    position: relative;
    outline: 1px dotted red;
    background-position: center;
    height: inherit;

}

.parallax-wrapper {
    position: relative;
}

.parallax-container {
    background: url(../images/news.jpg);
    width: 100vw;
    position: relative;

    height: 100px;


}



.no-marg {
    margin: 0;
}

.shadow {
    box-shadow: 0px 0px 4px;
}

.d-event {
    border: 1px solid #3260BC;
}

@media screen and (max-width: 767px) {
    .bx-shadow {
        height: auto;
        margin-bottom: 20px;
    }
}

@keyframes lastevent {
    0% {
        background: rgba(41,41,41,0.90);
    }

    25% {
        background: rgba(57,57,57,1.00);
        transform: translateY(5px);
    }

    50% {
        background: rgba(248,208,0,1.00);
        color: #2E2D2D;
        box-shadow: 0px 0px 5px;
    }

    75% {
        background: rgba(223,217,76,1.00);
        color: #2E2D2D;
        box-shadow: 0px 0px 5px;
    }

    100% {
        background: #DFB72E;
        box-shadow: 0px 0px 5px;
        transform: translateY(-5px);
    }
}

@media screen and (max-width:1120px) {
    .well {
        font-size: 12px;
    }
}

@media screen and (max-width:450px) {
    .well p {
        visibility: hidden;
    }

    .well {
        height: 200px;
    }

    .fa {
        padding-top: 30px;
    }

    .lastevent {
        animation: none;
        padding: 0;
    }

        .lastevent > p {
            padding-bottom: 20px;
        }
}

@media screen and (max-width:763px) {
    .card {
        margin: auto;
    }

    .nav {
        padding: 0;
    }

        .nav li a {
            text-align: center;

        }
}

@media screen and (min-width:767) and (max-width:815) {
    .nav li a {
        padding: 0;
    }

    .navbar-default {
        font-size: 5px;
    }
}

@media screen and (min-width:767px) and (max-width:875px) {
    .nav > li > a {
        padding: 15px 5px 5px 0 !important;
    }
}

@media screen and (max-width:877px) {

    .slider-xs {
        height: 350px !important;
    }
}

@media screen and (min-width:650px) {
    .card {
        margin-left: 15%;
    }
}

@keyframes support {
    0% {
        transform: translateX(5px);
    }

    25% {
        transform: translateX(4px);
    }

    50% {
        transform: translateX(3px);
    }

    75% {
        transform: translateX(2px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes support2 {
    0% {
        transform: translateX(-5px);
    }

    25% {
        transform: translateX(-4px);
    }

    50% {
        transform: translateX(-3px);
    }

    75% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0px);
    }
}

.supportanime {
    animation-name: support;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.supportanime2 {
    animation-name: support2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.supportblur {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.text-danger {
    color: #F03A3D;
}

* {
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

.loader {
    margin: 60px auto;
    font-size: 4px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(0,0,255, 0.2);
    border-right: 1.1em solid rgba(0,0,255, 0.2);
    border-bottom: 1.1em solid rgba(0,0,255, 0.2);
    border-left: 1.1em solid #0000ff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



/*============================================================*
   /* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

    /* The navigation menu links */
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

/* Style page content */
.main {
    margin-right: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.msg {
    /*position: fixed;*/
    z-index: -1;
    /*display: none;
    overflow: hidden;*/
}

.thumbnail {
    padding: 0px;
}

.panel {
    position: relative;
}

    .panel > .panel-heading:after, .panel > .panel-heading:before {
        position: absolute;
        top: 11px;
        left: -16px;
        right: 100%;
        width: 0;
        height: 0;
        display: block;
        content: " ";
        border-color: transparent;
        border-style: solid solid outset;
        pointer-events: none;
    }

    .panel > .panel-heading:after {
        border-width: 7px;
        border-right-color: #f7f7f7;
        margin-top: 1px;
        margin-left: 2px;
    }

    .panel > .panel-heading:before {
        border-right-color: #ddd;
        border-width: 8px;
    }