

<form id="loginForm">

    <div class="input-group input-margin">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> <input class="form-control" id="UserName" name="UserName" placeholder="نام کاربری" type="text">
    </div>

    <div class="input-group input-margin">
        <span class="input-group-addon "><i class="glyphicon glyphicon-phone"></i></span> <input class="form-control" id="Password" name="Password" placeholder="رمز عبور" type="password">
    </div>

   
</form>



