<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Event.ir</title>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-rtl/dist/css/bootstrap-rtl.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/tingle/dist/tingle.css" rel="stylesheet" />
        <link href="~/lib/remodal/dist/remodal.css" rel="stylesheet" />
        <link href="~/lib/remodal/dist/remodal-default-theme.css" rel="stylesheet" />
        <link href="~/lib/bootstrap-fileinput/css/fileinput-rtl.css" rel="stylesheet" />
        @*<link href="~/lib/bootstrap-persian-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet" />*@
       
        <link href="~/css/site.css" rel="stylesheet" />
        @RenderSection("Head", false)

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    </head>

<body>
  
  


    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10">
              <h1><span class="fa fa-user"></span> @User.Identity.Name</h1>
        </div>
           
            <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <!--left col-->

                @await Component.InvokeAsync("UserInfo")

                </div><!--/col-3-->

            <div class="col-sm-9">

                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#home" data-toggle="tab">مدیریت رویداد ها</a></li>
                    <li><a href="#purchases" data-toggle="tab">پرداخت ها</a></li>
                    <li><a href="#comments" data-toggle="tab">نظر ها</a></li>
                    <li><a href="#settings" data-toggle="tab">اطلاعات</a></li>
                </ul>

                <div class="tab-content" id="bodyContainer">
                    @RenderBody()
                </div><!--/tab-pane-->
            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->




    
    @*Scripts*@
    <environment include="Development">
       
          </environment>

    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

      
    </environment>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script src="~/lib/bootstrap-notify/bootstrap-notify.js"></script>
    <script src="~/lib/tingle/dist/tingle.js"></script>
    <script src="~/lib/remodal/dist/remodal.js"></script>
    <script src="~/lib/bootstrap-fileinput/js/fileinput.js"></script>
    @*<script src="~/lib/bootstrap-persian-datetimepicker/build/js/bootstrap-persian-datetimepicker.js"></script>*@
    <script src="~/lib/moment/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)



    <div data-remodal-id="modal">
        <button data-remodal-action="close" class="remodal-close remodal-bg"></button>
        <h1>Remodal</h1>
        <p>
            Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
        </p>
    </div>
</body>

</html>
